venv/
__pycache__/
*.pyc
.env
service_account.json
*.jpg
*.png
!assets/logo/*.png
automation.log
credentials.json
set_secrets.sh
service_account.json
telegram_updates.json
.env
fb_accounts.json
updates_*.json
test_*.py
output/downloads/
